* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --opacity: 0;
  --visible: hidden;
}

div#container {
  height: 100vh;
  z-index: 1;
  position: relative;
}

#theBooks {
  display: grid;
  grid-auto-flow: column;
}


.card {
  background-color: aqua;
  flex: 1;
  border: 1px solid;
}

#container::before {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #00000054;
  position: absolute;
  opacity: var(--opacity);
  z-index: 2;
  visibility: var(--visible);
}

form#userForm {
  position: absolute;
  opacity: var(--opacity);
  background-color: bisque;
  border: 1px solid;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 40rem;
  height: 20rem;
  text-align: center;
  z-index: 3;
}
